*.json
RetroFPSProject/Saved/Autosaves/PackageRestoreData.json
RetroFPSProject/Saved/Telemetry/Telemetry.json
.ushaderbytecode
.ushadercode
.exe
.pdb
RetroFPSProject/Saved/Cooked/Windows/RetroFPSProject/Content/ShaderArchive-Global-PCD3D_SM5-PCD3D_SM5.ushaderbytecode
RetroFPSProject/Saved/Cooked/Windows/RetroFPSProject/Content/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
RetroFPSProject/Saved/Cooked/Windows/RetroFPSProject/Metadata/ShaderLibrarySource/ShaderArchive-Global-PCD3D_SM5-PCD3D_SM5.ushaderbytecode
RetroFPSProject/Saved/Cooked/Windows/RetroFPSProject/Metadata/ShaderLibrarySource/ShaderArchive-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
RetroFPSProject/Saved/Cooked/Windows/RetroFPSProject/Metadata/ShaderLibrarySource/ShaderArchive-RetroFPSProject-PCD3D_SM5-PCD3D_SM5.ushaderbytecode
RetroFPSProject/Saved/Cooked/Windows/RetroFPSProject/Metadata/ShaderLibrarySource/ShaderArchive-RetroFPSProject-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
RetroFPSProject/Saved/Shaders/PCD3D_SM5-PCD3D_SM5/ShaderCode-Global-PCD3D_SM5-PCD3D_SM5.ushaderbytecode
RetroFPSProject/Saved/Shaders/PCD3D_SM5-PCD3D_SM5/ShaderCode-RetroFPSProject-PCD3D_SM5-PCD3D_SM5.ushaderbytecode
RetroFPSProject/Saved/Shaders/PCD3D_SM6-PCD3D_SM6/ShaderCode-Global-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
RetroFPSProject/Saved/Shaders/PCD3D_SM6-PCD3D_SM6/ShaderCode-RetroFPSProject-PCD3D_SM6-PCD3D_SM6.ushaderbytecode
RetroFPSProject/Saved/StagedBuilds/Windows/Engine/Binaries/Win64/tbb.pdb
RetroFPSProject/Saved/StagedBuilds/Windows/Engine/Binaries/Win64/tbbmalloc.pdb
RetroFPSProject/Saved/StagedBuilds/Windows/Engine/Binaries/Win64/UnrealGame-Win64-DebugGame.exe
RetroFPSProject/Saved/StagedBuilds/Windows/Engine/Binaries/Win64/UnrealGame-Win64-DebugGame.pdb
RetroFPSProject/Saved/StagedBuilds/Windows/Engine/Extras/Redist/en-us/UEPrereqSetup_x64.exe
RetroFPSProject/Saved/StagedBuilds/Windows/RetroFPSProject.exe
RetroFPSProject/Saved/StagedBuilds/Windows/RetroFPSProject/Content/Paks/global.ucas
RetroFPSProject/Saved/StagedBuilds/Windows/RetroFPSProject/Content/Paks/RetroFPSProject-Windows.ucas
